<div class="page">
  <div class="change-con">
    <mat-card class="login-card">
      <mat-card-title>
        Zmień hasło
      </mat-card-title>
      <mat-card-content class="login-input">
        <div class="col">
          <div class="row">
            <mat-form-field>
              <mat-label>Login</mat-label>
              <input #login matInput>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field>
              <mat-label >Hasło</mat-label>
              <input #password matInput  [type]="visibility? 'text' : 'password'" >
              <button  matSuffix mat-icon-button (click)="visibility_change()">
                <mat-icon *ngIf="visibility" class="icon">visibility</mat-icon>
                <mat-icon *ngIf="!visibility">visibility_off</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field>
              <mat-label >Nowe hasło</mat-label>
              <input #password matInput  [type]="visibility? 'text' : 'password'" >
              <button  matSuffix mat-icon-button (click)="visibility_change()">
                <mat-icon *ngIf="visibility" class="icon">visibility</mat-icon>
                <mat-icon *ngIf="!visibility">visibility_off</mat-icon>
              </button>
            </mat-form-field>
            </div>
            <div class="row">
            <mat-form-field>
              <mat-label >Powtórz hasło</mat-label>
              <input #password matInput  [type]="visibility? 'text' : 'password'" >
              <button  matSuffix mat-icon-button (click)="visibility_change()">
                <mat-icon *ngIf="visibility" class="icon">visibility</mat-icon>
                <mat-icon *ngIf="!visibility">visibility_off</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="row">
            <button mat-raised-button color="accent" class="login-button" (click)="performLogin()">Zmień hasło</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
