
<div class="page">
  <div class="change-con">


    <mat-card class="login-card">

      <mat-card-title>
        Zmień hasło
      </mat-card-title>
      <mat-card-content class="login-input">
        <div class="col">

          <form [formGroup]="form">
          <div class="row">
            <mat-form-field>
              <mat-label >Hasło</mat-label>
              <input #password matInput  [type]="visibility? 'text' : 'password'" formControlName="actualPassword">
              <mat-error *ngIf="form.get('actualPassword').hasError('required')"><strong>Actual password</strong> field is Required</mat-error>
              <button  matSuffix mat-icon-button (click)="visibility_change()">
                <mat-icon *ngIf="visibility" class="icon">visibility</mat-icon>
                <mat-icon *ngIf="!visibility">visibility_off</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field>
              <mat-label >Nowe hasło</mat-label>
              <input #repPassword1 matInput  [type]="visibility? 'text' : 'password'" formControlName="newPassword" >
              <mat-error *ngIf="form.get('newPassword').hasError('required')"><strong>New password</strong> field is Required</mat-error>
              <mat-error *ngIf="form.get('newPassword').hasError('minlength')">Password must have min 8 chars</mat-error>
              <mat-error *ngIf="form.get('newPassword').hasError('maxlength')">Password must have max 20 chars</mat-error>
              <button  matSuffix mat-icon-button (click)="visibility_change()">
                <mat-icon *ngIf="visibility" class="icon">visibility</mat-icon>
                <mat-icon *ngIf="!visibility">visibility_off</mat-icon>
              </button>
            </mat-form-field>
            </div>
            <div class="row">
            <mat-form-field>
              <mat-label >Powtórz hasło</mat-label>
              <input #repPassword2 matInput  [type]="visibility? 'text' : 'password'" formControlName="repeatPassword" >
              <mat-error *ngIf="form.get('repeatPassword').hasError('required')"><strong>Repeat password</strong> field is Required</mat-error>
              <mat-error *ngIf="form.get('repeatPassword').hasError('mustMatch')"><strong>Passwords</strong> must match</mat-error>
              <mat-error *ngIf="form.get('repeatPassword').hasError('minlength')">Password must have min 8 chars</mat-error>
              <mat-error *ngIf="form.get('repeatPassword').hasError('maxlength')">Password must have max 20 chars</mat-error>
              <button  matSuffix mat-icon-button (click)="visibility_change()">
                <mat-icon *ngIf="visibility" class="icon">visibility</mat-icon>
                <mat-icon *ngIf="!visibility">visibility_off</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="row">
            <button mat-raised-button color="accent" class="login-button" (click)="changePassword()">Zmień hasło</button>
          </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>

