.filtr {
  text-align: center;
}

.pole {
  margin-top: 8px;
}



.mat-stepper-vertical {
  position: fixed;
  margin-top: 8px;
}


.mat-form-field {
  align-self: center;
  margin-top: 16px;
}



//////////////
.navigation{
  min-height: 10%;
}

.sidenav{
  width: 18%;
  position: fixed;
  button{
    font-size: 18px;
    height: 20%;
    width: 95%;
    background-color: rgb(42, 142, 219);
    color: White;
  }
}

.UserInfo{
  margin-left: 20px;
}

.sidenavItem{
  margin-top: 10px;
  margin-bottom: 10px;
}

.headerNav{
  padding-top: 17px;
  background-color: rgb(42, 142, 219);
  min-height: 64px;
  color: White;
}




.toolbar{
  background-color: rgb(42, 142, 219);
  button{
    font-size: 16px;
    .mat-icon{
      transform: scale(0.9);
    }
  }
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


.dodajButton {
  margin-right: 0.5%;
  background-color: #2eb4ce;
  color: White;

}

