p {
  background-image: url("../../assets/images/blad.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  text-align: center;

}
