.page{
  background-image: url("../../assets/images/login-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
}
.login-con{
  display: flex;
  justify-content: center;
  vertical-align: center;
  position: relative;
  transform: translateY(-50%);
  top: 45%;
  mat-card-title{
    font-size: 30px;
  }
  .login-card{
    text-align: center;
    width: 40%;
  }
}

.login-input{
  mat-form-field{
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50%;
    text-align: center;
  }
  .row{
    justify-content: center;
  }
}

.login-button{
  padding: 4px 25%;
  margin-bottom: 20px;
  font-size: 20px;
}

.home-button {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%) scale(1.5) !important;
}
