#body{
 background: #caf0f8;
  margin: 0 auto;
  position: relative;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}
button{
  background: #48cae4;
  margin-top: 2%;
}

#guzik{
  margin: 0 auto;
  text-align: center;
}

.mat-form-field{
  width: 50%;
}
#x{
  margin: 0 auto;

}
input{
  margin-top: 2px;
  border: 1px solid #2eb4ce;
  border-radius: 10px 10px 10px 10px;
  background: #e6eeff;
}
