<mat-dialog-content>

<!--    <mat-stepper [linear]="isLinear" #stepper>-->
<!--      <mat-step [stepControl]="firstFormGroup">-->
<!--        <form [formGroup]="firstFormGroup">-->
<!--          <ng-template matStepLabel>Fill out your name</ng-template>-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Name</mat-label>-->
<!--            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
<!--          </mat-form-field>-->
<!--          <div>-->
<!--            <button mat-button matStepperNext>Next</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </mat-step>-->
<!--      <mat-step [stepControl]="secondFormGroup" label="Fill out your address">-->
<!--        <form [formGroup]="secondFormGroup">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Address</mat-label>-->
<!--            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"-->
<!--                   required>-->
<!--          </mat-form-field>-->
<!--          <div>-->
<!--            <button mat-button matStepperPrevious>Back</button>-->
<!--            <button mat-button matStepperNext>Next</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </mat-step>-->
<!--      <mat-step>-->
<!--        <ng-template matStepLabel>Done</ng-template>-->
<!--        <p>You are now done.</p>-->
<!--        <div>-->
<!--          <button mat-button matStepperPrevious>Back</button>-->
<!--          <button mat-button (click)="stepper.reset()">Reset</button>-->
<!--        </div>-->
<!--      </mat-step>-->
<!--    </mat-stepper>-->
<app-navigation>
<div id="body">
  <form>
<!--    <div class="col">-->
<!--      <div class="row justify-content-center message" >-->
<!--        <input matInput placeholder="Imie pacjenta">-->
<!--        <input matInput placeholder="Nazwisko pacjenta">-->
<!--        <input matInput placeholder="Nazwisko rodowe Matki">-->
<!--        <input matInput placeholder="Pesel pacjenta">-->
<!--      </div>-->
<!--      <div class="row  justify-content-center message2">-->
<!--        <input matInput  placeholder="Miejscowość" >-->
<!--        <input matInput placeholder="Ulica">-->
<!--      </div>-->
<!--      <div class="button justify-content-center text-center">-->
<!--          <button mat-button type="submit" class="">Wyslij receptę </button>-->
<!--        </div>-->
<!--            </div>-->
            <div class="row form-group">

      <div id="one0" class="col-sm-2">
        <input type="text" class="form-control" placeholder="Imie pacjenta">
      </div>
      <div id="one1" class="col-sm-2">
        <input type="text" class="form-control" placeholder="Nazwisko pacjenta">
      </div>
      <div id="one2" class="col-sm-2,5">
        <input type="text" class="form-control" placeholder="Nazwisko rodowe Matki">
      </div>
      <div id="one3" class="col-sm-2,5">
        <input type="text" class="form-control" placeholder="Pesel pacjenta">
      </div>
    </div>
    <div  class="row form-group">
      <div id="one4" class="col-sm-2">
        <input type="text" class="form-control" placeholder="Miejscowość">
      </div>
      <div id="one5" class="col-sm-2">
        <input type="text" class="form-control" placeholder="Ulica">
      </div>

    </div>
    <div id="lek">
      <mat-form-field  appearance="outline">
        <mat-label>Rodzaje leków</mat-label>
        <textarea matInput> </textarea>
      </mat-form-field>
    </div>

    <div class="button">
      <button type="submit" class="btn btn-primary">Wyslij receptę </button>
    </div>

  </form>
</div>
</app-navigation>
</mat-dialog-content>
