<app-navigation>
<div id="body">
  <form>
            <div class="row form-group">
              <div id="x">
      <div  class="col-sm-2,5">
        <input type="text" class="form-control" matInput placeholder="Imie pacjenta">
      </div>
      <div  class="col-sm-2,5">
        <input type="text" class="form-control" matInput placeholder="Nazwisko pacjenta">
      </div>
      <div  class="col-sm-2,5">
        <input type="text" class="form-control" matInput placeholder="Nazwisko rodowe Matki">
      </div>
      <div  class="col-sm-2,5">
        <input type="text" class="form-control" matInput placeholder="Pesel pacjenta">
      </div>
      <div class="col-sm-2,5">
        <input type="text" class="form-control"  matInput placeholder="Miejscowość">
      </div>
      <div  class="col-sm-2,5">
        <input type="text" class="form-control" matInput placeholder="Ulica">
      </div>
              </div>
    </div>
    <div id="lek">
      <mat-form-field  appearance="outline">
        <mat-label>Rodzaje leków</mat-label>
        <textarea matInput> </textarea>
      </mat-form-field>
    </div>

    <div class="button">
      <button type="submit" matInput class="btn btn-primary">Wyslij receptę </button>
    </div>

  </form>
</div>
</app-navigation>

