<div class="login">

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Pesel</mat-label>
    <input matInput type="number" placeholder="Twój pesel">
  </mat-form-field>
</div>
<div class="password">
  <mat-form-field appearance="fill">
    <mat-label>Wpisz swoje hasło</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>

