.spacing{
  .mat-form-field{
    margin-right: 20px;
  }
}

::ng-deep .mat-focused .mat-form-field-label {
  color: Black !important;
}
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #48cae4 !important;
}

::ng-deep .mat-datepicker-toggle {
  color: #48cae4;
}

::ng-deep .mat-datepicker{
  background-color: #48cae4;
  color: #48cae4;
}


