<app-navigation>
  <div class="home">
    <mat-grid-list [ngClass]="{'guest': !auth.isLoggedIn(),'homeNavigation': auth.isLoggedIn()}" [cols]="3" rowHeight="2:1">
      <mat-grid-tile *ngIf="auth.isLoggedIn()"><mat-card routerLink="/time-table"><mat-card-title>Terminarz</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Badania</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Recepty</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card routerLink="/view-doctors"><mat-card-title>Lekarze</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Kontakt</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card routerLink="/receptionist-panel"><mat-card-title>Panel Recepcji</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card routerLink="/doctor-panel"><mat-card-title>Panel Lekarza</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Panel Farmaceutki</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card routerLink="/adminPanel"><mat-card-title>Panel Administratora</mat-card-title></mat-card></mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="auth.isLoggedIn()" class="bloodResults">
      <div class="col justify-content-center" >
        <div class="row justify-content-center">
          <h1>Wyniki morfologii</h1>
        </div>
        <div *ngIf="this.bloodResults.length != 0">
          <div *ngFor="let result of bloodResults" class="row singleResult" [ngClass]="{
        'resultOK' : result.result, 'resultWrong' : !result.result
        }">
            <mat-icon *ngIf="result.result">check_circle</mat-icon>
            <mat-icon *ngIf="!result.result">dangerous</mat-icon>
            <h3 class="nameResult">{{result.name}}:</h3>
            <span class="spacer"></span>
            <h3 class="amountResult"><b>{{result.amount}}{{result.unit}}</b></h3>
          </div>
        </div>
        <div *ngIf="this.bloodResults.length == 0" class="text-center noResults justify-content-center">
          <h2>BRAK WYNIKÓW</h2>
        </div>
      </div>
    </div>
  </div>
</app-navigation>
