<app-navigation>
  <div class="home">
    <mat-grid-list class="homeNavigation" [cols]="3" rowHeight="2:1">
      <mat-grid-tile><mat-card routerLink="/time-table"><mat-card-title>Terminarz</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Badania</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Recepty</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Lekarze</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Kontakt</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Panel Recepcjonistki</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Panel Lekarza</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Panel Farmaceutki</mat-card-title></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card><mat-card-title>Panel Administaratora</mat-card-title></mat-card></mat-grid-tile>
    </mat-grid-list>
    <div class="bloodResults">
      <div class="col justify-content-center">
        <div class="row bloodTestTitle justify-content-center">
          <h1>Wyniki morfologii</h1>
        </div>
        <div *ngFor="let result of bloodResults" class="row" [ngClass]="{
        'resultOK' : result.result, 'resultWrong' : !result.result
        }">
          <mat-icon *ngIf="result.result">check_circle</mat-icon>
          <mat-icon *ngIf="!result.result">dangerous</mat-icon>
          <h3 class="nameResult">{{result.name}}:</h3>
          <span class="spacer"></span>
          <h3 class="amountResult"><b>{{result.amount}}{{result.unit}}</b></h3>
        </div>
      </div>

    </div>
  </div>
</app-navigation>
