<app-navigation>

  <div class="home">
    <mat-grid-list cols="2">

      <mat-grid-title><mat-card routerLink="/list-ref"><mat-card-title>Lista zwolnień/skierowań</mat-card-title></mat-card></mat-grid-title>
      <mat-grid-title><mat-card routerLink="/new-ref"><mat-card-title>Wystaw zwolnienie/skierowanie</mat-card-title></mat-card></mat-grid-title>
      <mat-grid-title><mat-card><mat-card-title>Wystaw receptę</mat-card-title></mat-card></mat-grid-title>
      <mat-grid-title><mat-card><mat-card-title>Lista recept</mat-card-title></mat-card></mat-grid-title>
      <mat-grid-title><mat-card><mat-card-title>Wizyty</mat-card-title></mat-card></mat-grid-title>

    </mat-grid-list>

  </div>





</app-navigation>

