<app-navigation>
<div id="body">

  <div id="naglowek">

<p class="h4 mb-4">
    <img src="https://img.icons8.com/ios/50/000000/new-message.png"/> Formularz kontaktowy</p>
  </div>
<div id="stopka">

  <input  type="text"  id="defaultContactFormName"
         class="form-control mb-4" placeholder="Imie i Nazwisko">

  <input type="email"  id="defaultContactFormEmail"
         class="form-control mb-4" placeholder="E-mail">

  <select   class="browser-default custom-select mb-4">
    <option value="" disabled selected>wybierz interesującą sekcję</option>
    <option value="1">Recepcja</option>
    <option value="2">Wyniki Badań</option>
    <option value="3">Lekarz pierwszego-kontaktu</option>
  </select>
  <div class="form-group">
    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2"
              rows="3" placeholder="Wiadomość"></textarea>
  </div>
  <div id="guzik" class="button">
    <button type="submit" class="btn btn-outline-primary">Wyslij wiadomość </button>
  </div>
</div>
</div>
</app-navigation>
